<title>Create cat!</title>
<% @cat = Cat.new %>
<%= render partial: "form", locals: { cat: @cat } %>

<!--
<form action="/cats" method="post"> -->
<!-- TODO: default values/failed cat -->

  <!-- name: text, sex: rb, color: drop, birth_date: date, description: textarea -->
  <!-- <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" value="">
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>
  <br>

  <% colors =  %w(black white grey ginger blue tabby) %>

  <label for="cat_color">Color</label>
  <select id="cat_color" name="cat[color]">
    <option disabled selected> -- select an option -- </option>
    <% colors.each do |color| %>
      <option value="<%= color %>"><%= color.capitalize %></option>
    <% end %>
  </select>
  <br>

  <label for="cat_birth_date">Birth_date</label>
  <input id="cat_birth_date" type="date" name="cat[birth_date]">
  <br>

  <label for="cat_description">Description</label>

  <textarea name="cat_description" rows="8" cols="40"></textarea>
  <br>

  <input type="submit" value="Submit">
  <br>

</form> -->
